@import "./colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //border: 0.1px solid black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  background: $bg-color;
  letter-spacing: 0.1em;
  .mobile-nav {
    display: none;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.logo-search {
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  margin-left: 18%;
  width: 70%;
}
.search-bar {
  border: 1px solid $border;
  line-height: $line-height;
  padding: 0 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 0;
  transition: all 0.7s ease;
  width: 100%;
}
button {
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 20px;
  text-align: center;
  line-height: $line-height;
  background-color: $primary;
  color: $text;
  border: 1px solid $primary;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: 0;
  height: 50px;
  width: auto;
  font-size: 14pt;
}
.main-nav {
  padding: 3px;
  display: flex;
  align-items: center;
  position: relative;
  background: #333;
  cursor: pointer;
  ul {
    display: flex;
    margin-left: 2%;
    li {
      padding: 8px;
      color: $text;
      a {
        color: $text;
      }
    }
    .category-nav {
      color: $border;
      align-self: flex-end;
    }
    :hover {
      background: $text;
      color: #333;
    }
  }
}
// start hamburger nav
#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input ~ span {
  background: #333;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $text;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: rgba(51, 51, 51, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
  color: $text;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
// end hamburger nav
.featured-categories {
  border: 1px solid darken($bg-color, 10%);
  margin-top: 3%;
  margin-bottom: 2%;
  h3 {
    margin-top: 2%;
    margin-bottom: 0;
    text-align: center;
  }
}
.categories {
  background: $bg-color;
  border: 1px solid $bg-color;
  justify-content: center;
  //margin-left: 5%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px 10px;
}
.category {
  cursor: pointer;
  display: flex;
  border: 0.1px solid $bg-color;
  margin-right: 2px;
  background: white;
  padding: 10px;
  width: 150px;
  &:hover {
    background: darken($bg-color, 10%);
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.coin-listings {
  hr {
    border: 0.5px solid darken($bg-color, 10%);
  }
  h3 {
    text-align: center;
    margin-bottom: 1%;
  }
}
.listings {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}
.listing {
  display: flex;
  flex-direction: column;
  border: 1px solid darken($bg-color, 10%);
  background: $text;
  border-radius: 2px;
  width: 300px;
  overflow: hidden;
  flex-grow: 1;
  margin: 5px;
  ul {
    margin-top: 4%;
    margin-left: 4%;
    display: flex;
    .first-coin {
      margin-right: 5%;
    }
    li {
      margin-right: 1.5%;
    }
  }
  h5,
  p {
    margin-top: 4%;
    margin-left: 4%;
  }
  h6 {
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
  }
  p {
    overflow-wrap: break-word;
    text-align: left;
  }
}
.other-coins {
  .categories {
    margin-left: 0;
    justify-content: center;
  }
  .category {
    width: 200px !important;
  }
}
.newsletter {
  background: $primary;
  color: $text;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin: 1%;
  padding: 2%;
  border-radius: 3px;
  h3,
  span,
  p,
  form {
    padding: 2%;
  }
  .subscribe {
    display: flex;
    align-items: center;
    width: 40%;
  }
  .sub-bar {
    border: 1px solid $border;
    line-height: $line-height;
    padding: 0 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0;
    transition: all 0.7s ease;
    width: 100%;
  }
  .sub-submit {
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 20px;
    text-align: center;
    line-height: $line-height;
    background-color: black; //lighten($primary, 20%);
    color: $text;
    border: 1px solid $primary;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: 0;
    height: 55px;
    width: auto;
    font-size: 14pt;
  }
}
.about-us {
  display: flex;
  color: lighten(black, 20%);
  margin-top: 2%;
  margin-left: 2%;
  .about {
    h3 {
      margin-bottom: 2%;
    }
    p {
      text-align: justify;
      margin-right: 2%;
    }
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  a {
    color: $primary;
  }
  .top-searches {
    h4 {
      margin-bottom: 2%;
    }
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

footer {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 5px;
  margin-top: 1%;
  margin-bottom: 2%;
}
.fancy-line {
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    span {
      display: none;
    }
    .subscribe {
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    span {
      display: none;
    }
    .subscribe {
      width: 100%;
    }
  }
  .other-coins {
    .category {
      width: 150px !important;
      ul {
        font-size: smaller;
      }
    }
  }
}
@media (max-width: 425px) {
  .top-links {
    letter-spacing: normal;
    margin-bottom: 2%;
  }
  .mobile-nav {
    display: inline !important;
  }
  .logo-search {
    display: flex;
    flex-direction: column;
  }
  .search {
    width: 100%;
    margin-left: 0;
  }
  .search-bar {
    width: 80%;
  }
  nav.main-nav {
    display: none;
  }
  .category {
    width: 100px;
    ul {
      font-size: smaller;
    }
  }
  .coin-listings h3 {
    text-align: center;
  }
  .listings {
    margin-left: 4%;
  }
  .other-coins {
    .category {
      width: 100px !important;
      ul {
        font-size: smaller;
      }
    }
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    span {
      display: none;
    }
    .subscribe {
      width: 100%;
      input[type="search"] {
        font-size: 9px;
      }
    }
  }
  footer {
    text-align: center;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  h3 {
    margin-left: 4.5%;
  }
  .wrapper {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 650px;
    border-radius: 5px;
    transform: translateZ(0px);
    border: 1px solid $bg-color;
  }
}
