:root{
    --text:#f2f2f2;
    --border:#e6e6e6;
    --primary:#60c;
    --line-height:50px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0.1px solid black; */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.top-links{
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    color: inherit;
}
.top-links ul{
    display: flex;
}
.top-links ul li a{
    color: inherit;
}
.top-links ul li span{
    padding: 2px;
}
.logo-search{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    margin-left: 18%;
    width: 70%;
}
.search-bar{
    /* color: var(--text); */
    border: 1px solid var(--border);
    line-height: var(--line-height);
    padding: 0 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0;
    transition: all 0.7s ease;
    width: 100%;
}
button{
    align-self: center;
    border-radius: 5px; 
    cursor:pointer;
    padding: 0 20px;
    text-align: center;
    line-height: var(--line-height);
    background-color: var(--primary);
    color:var(--text);
    border: 1px solid var(--primary);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: 0;
    height: 50px;
    width: auto;
    font-size: 14pt;
}
.main-nav{
    padding: 3px;
    display: flex;
    align-items: center;
    position: relative;
    background: #333;
    cursor: pointer;
}
.main-nav ul{
    display: flex;
    margin-left: 2%;
}
.main-nav ul li{
    padding: 8px;
    color: var(--text);
}
.main-nav ul li a{
    color: var(--text);
}
.main-nav ul :hover{
    background: var(--text);
    color: #333;
}
.main-nav ul .category-nav{
    color: var(--border);
    align-self: flex-end;
}
.featured-categories{
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px;
}
.featured-categories h3{
    text-align: center;
    padding: 2px;
}
.featured-categories ul{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.featured-categories ul li{
    text-align: center;
    padding-right: 2%;
    
}
.ancient-coins-new-listings .more-listings{
text-align: center;
}
.listings{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
}
.listing{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    overflow: hidden;
    margin: 5px;
}
.listing ul{
    margin-top: 4%;
    margin-left: 4%;
    display: flex;
}
.listing ul .first-coin{
    margin-right: 5%;
}
.listing h5 , p{
   margin-top: 4%;
    margin-left: 4%;
}
.listing h6{
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
}
.listing p{
    overflow-wrap: break-word;
}
.listing ul li{
    margin-right: 1.5%;
}
